header {
  background-color: #ccc;
}
header .swiper-container {
  text-align: center;
}
header .swiper-container .swiper-slide {
  position: relative;
}
header .swiper-container .swiper-slide a img {
  width: 100%;
}
header .swiper-container .swiper-slide p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: left;
  text-indent: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
}
aside .special .special_top4 {
  width: 100%;
  border-radius: 6px;
  padding: 4% 4% 0 4%;
  background-color: #fff;
}
aside .special .special_top4 i,
aside .special .special_top4 span {
  color: #5DBAFC;
  font-size: 20px;
}
aside .special .special_top4 .excuse {
  line-height: 40px;
  border-top: 1px solid #5DBAFC;
  margin-top: 5px;
}
aside .special .special_top4 .excuse li {
  padding: 0 2%;
  line-height: 40px;
  color: rgba(126, 113, 113, 0.678);
}
aside .special .special_top4 .flow {
  display: flex;
  border-top: 1px solid #5DBAFC;
  margin-top: 5px;
}
aside .special .special_top4 .flow li {
  flex: 1;
  color: rgba(126, 113, 113, 0.678);
}
aside .special .special_top4 .flow li .flow_top {
  width: 60px;
  height: 60px;
  border: 2px solid #5DBAFC;
  border-radius: 50%;
  line-height: 55px;
  margin: 10px auto;
  text-align: center;
}
aside .special .special_top4 .flow li .flow_top i {
  color: red;
  font-size: 28px;
}
aside .special .special_top4 .flow li .product {
  text-align: center;
  margin-top: 5%;
}
aside .special .special_top4 .flow li p {
  margin: 5% 10% 0 10%;
  line-height: 30px;
}
aside .special .special_top4 .views {
  border-top: 1px solid #5DBAFC;
  margin-top: 5px;
}
aside .special .special_top4 .views li {
  padding: 0 2%;
  line-height: 40px;
  color: rgba(126, 113, 113, 0.678);
}
.pics {
  padding: 60px 60px 60px 60px;
  display: flex;
  margin: 0 auto;
}
.pics img {
  flex: 1;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888;
}
.pics img:nth-child(2) {
  margin: 0 10px;
}
footer {
  border: 1px solid red;
}
footer .foot {
  padding: 30px;
  height: 350px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #ECECEC;
  display: flex;
}
footer .foot .foot_left {
  flex: 1;
  padding: 0 20px;
}
footer .foot .foot_left h2 {
  font-size: 25px;
}
footer .foot .foot_left .telephone {
  color: red;
  margin-top: 15px;
}
footer .foot .foot_left input {
  border: 2px solid #EFBDAC;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
  margin: 20px 0 0px 0;
}
footer .foot .foot_right {
  flex: 1;
}
footer .foot .foot_right ul {
  padding: 0 20px;
}
footer .foot .foot_right ul li:nth-child(1) a {
  background-color: #F1BA00;
  margin-left: 340px;
  border-radius: 10px;
  width: 120px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFED9;
}
footer .foot .foot_right ul li:nth-child(1) a span {
  background: #fff;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #000;
}
footer .foot .foot_right ul li:nth-child(2) {
  background-color: #fff;
  margin-top: 10px;
  width: 100%;
  padding: 5px 0;
  border-radius: 10px;
}
footer .foot .foot_right ul li:nth-child(2) .nums {
  margin-left: 25%;
  height: 40px;
  line-height: 40px;
  position: relative;
}
footer .foot .foot_right ul li:nth-child(2) .nums span {
  font-size: 20px;
  color: #6d6a67;
  margin-right: 30px;
}
footer .foot .foot_right ul li:nth-child(2) .nums i {
  position: absolute;
  top: 8px;
  bottom: 0px;
}
footer .foot .foot_right ul li:nth-child(2) .nums .hides {
  display: none;
}
footer .foot .foot_right ul li:nth-child(3) {
  background-color: #fff;
  margin-top: 20px;
  padding: 5px 0;
  border-radius: 10px;
}
footer .foot .foot_right ul li:nth-child(3) .money {
  margin-left: 25%;
  height: 40px;
  line-height: 40px;
  color: #C91544;
}
footer .foot .foot_right ul li:nth-child(3) .money span {
  font-size: 20px;
  color: #6d6a67;
  margin-right: 30px;
}
footer .foot .foot_right ul li:nth-child(3) .money i {
  color: #C91544;
  font-size: 25px;
  font-weight: bold;
}
footer .foot .foot_right ul li:nth-child(4) {
  margin-top: 20px;
}
footer .foot .foot_right ul li:nth-child(4) .zhifu input {
  margin-left: 20px;
}
footer .foot .foot_right ul li:nth-child(5) {
  margin-top: 20px;
}
footer .foot .foot_right ul li:nth-child(5) .tips {
  color: red;
}
.mask {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000000;
}
.mask .mask1 {
  height: 30%;
  width: 40%;
  margin: 40% auto;
  background-color: #fff;
  border-radius: 20px;
}
.mask .mask1 img {
  width: 60%;
  height: 60%;
  margin: 0% auto;
}
.mask .mask1 h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.mask .mask1 p button {
  margin: 10% 10% 10% 30%;
  width: 35%;
}
.mask .mask1 .quxiao {
  background-color: #007ACC;
  color: #fff;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: none;
  border-radius: 5px;
}
.mask #zhifu1,
.mask #zhifu2 {
  position: absolute;
  top: -38px;
  left: 0px;
  z-index: -10;
}
